@charset "UTF-8";

.container ul li{
  background-color: #00bbdd;
  color: #fff;
  width: 65px;
  padding: 10px;
}
.container ul{
  margin: 20px 0;
  text-align: center;

}

.box1{
  display: flex;
  gap: 20px;

}
.box2{
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;

}
.box3{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.box4{
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}

/* ------------------------------------- */
.space{
  width: 100%;
}
.box5{
  display: flex;
  gap: 20px;
}
.box6{
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
}
.box7{
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 10px 20px;
}
/* ------------------------------------- */
.box8{
  display: flex;
  gap: 20px;
  justify-content: start;
}
.box9{
  display: flex;
  gap: 20px;
  justify-content: end;
}
.box10{
  display: flex;
  gap: 20px;
  justify-content: center;
}
.box11{
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.box12{
  display: flex;
  gap: 20px;
  justify-content: space-around;
}
/* --------------------------------------- */
ul li{
  color: #fff;
  background-color: #00bbdd;
  padding: 10px;
}

.grid1 ul{
  display: grid;
  grid-template-columns: 200px 200px 200px;
  gap: 10px;
}

.grid2{
  margin-top: 20px;
}
.grid2 ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.grid3{
  margin-top: 20px;
}
.grid3 ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  grid-template-rows: 200px 200px;
}


.grid4{
  margin-top: 20px;
}
.grid4 ul{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  gap: 10px;
}
.grid-base li{
  padding: 10px;
}
.grid-box1{
  background: #dd0700;
  grid-column: 1/3;
}
.grid-box3{
  background: #0bdd00;
  grid-column: 1/2;
  grid-row: 2/4;
}
.grid-box4{
  background: #d9dd00;
  grid-column: 2/4;
}
